
<!-- start /components/placeholder.img-text/-->
<link rel="stylesheet" href="/components/placeholder.img-text/placeholder.css"/>
<link rel="stylesheet" href="/components/placeholder.img-text/style.css"/>
<script src="/components/placeholder.img-text/script.js"></script>
<div class="b-ph-block" id="someBlock">
  <div class="b-ph">
    <div class="b-ph-img"></div>
    <div class="b-ph-text">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="b-ph-content">
    <div class="b-some-block"><img src="/upload/mobile-slide-menu/1.jpg" alt=""/>
      <p>Some text.</p>
    </div>
  </div>
</div>
<!-- end /components/placeholder.img-text/-->