extends ../layouts/main

block title
  title SideNav | Tricks

block content
  h1 SideNav
  
  ul
    li
      a( href="./materialize-0-97-5/" ) Materialize 0.97.5
    li
      a( href="./materialize-0-100-2/" ) Materialize 0.100.2
    li
      a( href="./materialize-1-0-0/" ) Materialize 1.0.0