extends ../layouts/main

block title
  title Placeholder | Tricks

block content
  h1 Yandex Maps
  
  ul
    li
      a( href="./img-text/" ) Картинка и текст
    li
      a( href="./4-cols/" ) 4 колонки