
<!-- start /components/preloader/-->
<link rel="stylesheet" href="/components/preloader/style.css"/>
<script src="/components/preloader/script.js"></script>
<button class="waves-effect waves-light btn b-color-preloader-button">Color Preloader</button>
<button class="waves-effect waves-light btn b-white-preloader-button">White Preloader</button>
<button class="waves-effect waves-light btn b-black-preloader-button">Black Preloader</button>
<div id="container"></div>
<div id="circlePreloader">
  <div class="preloader-wrapper active">
    <div class="spinner-layer">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/preloader/-->