
<!-- start /components/form.validate-form/-->
<link rel="stylesheet" href="/components/form.validate-form/style.css"/>
<script src="/components/form.validate-form/script.js"></script>
<div class="b-validate-form">
  <form action="/components/form.ajax-form/ajax-request.json" method="GET">
    <div class="input-field">
      <input id="first_name" type="text"/>
      <label for="first_name">Контактное лицо</label>
    </div>
    <div class="input-field">
      <input id="email" type="email"/>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input id="tel" type="tel"/>
      <label for="tel">Телефон</label>
    </div>
    <div class="input-field">
      <input id="url" type="url"/>
      <label for="url">URL</label>
    </div>
    <button class="btn btn-default" type="submit">Отправить</button>
  </form>
</div>
<!-- end /components/form.validate-form/-->