// start /components/mobile-slide-menu-horizontal/

link( rel="stylesheet", href="/components/mobile-slide-menu-horizontal/style.css" )
script( src="/components/mobile-slide-menu-horizontal/script.js" )

.b-mobile-slide-menu-horizontal
  section.bj-page-header__submenu
    .container-fluid
        
      script( src="/template/libs/swiper.min.js" )
      link( rel="stylesheet" href="/template/libs/swiper.min.css" )
      
      .swiper-container 
        .swiper-wrapper 
          a.swiper-slide( href="" ) Верхняя одежда
          a.swiper-slide( href="" ) Пальто
          a.swiper-slide( href="" ) Костюмы
          a.swiper-slide( href="" ) Пиджаки, жилеты
          a.swiper-slide( href="" ) Куртки
          a.swiper-slide( href="" ) Брюки
          a.swiper-slide( href="" ) Сорочки, рубашки, манишки
          
        .swiper-shadow
        
      .bj-page-header__submenu__line

// end /components/mobile-slide-menu-horizontal/