
<!-- start /components/top-video-banner/-->
<link rel="stylesheet" href="/components/top-video-banner/style.css"/>
<script src="/components/top-video-banner/script.js"></script>
<div class="b-top-video-banner">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
  <div class="firstbanerfotorama" data-width="100%" data-height="600" data-arrows="true" data-loop="true" data-autoplay="0" data-swipe="true" data-click="false">
    <div class="item" id="slide-1" data-ytvideo="1-gnOyThHg4" data-videoid="aboutVideo2" data-videoautoplay="true">
      <div class="video-container">
        <video class="video-bg" loop="loop" preload="none" poster="/upload/banner/videos/1-prod.jpg" muted="muted">
          <source src="/upload/banner/videos/1_prod.mp4" type="video/mp4"/>
        </video>
        <div class="mobile-bg" style="background-image: url(/upload/banner/videos/1-prod.jpg);"></div>
      </div>
    </div>
    <div class="item item-slide-4" id="slide-2" data-ytvideo="1-gnOyThHg4" data-videoid="aboutVideo2" data-videoautoplay="true">
      <div class="video-container">
        <video class="video-bg" loop="loop" preload="none" poster="/upload/banner/videos/2-dev.jpg" muted="muted">
          <source src="/upload/banner/videos/2_dev.mp4" type="video/mp4"/>
        </video>
        <div class="mobile-bg" style="background-image: url(/upload/banner/videos/2-dev.jpg);"></div>
        <div class="shadow-bg"></div>
      </div>
    </div>
    <div class="item item-slide-4" id="slide-3" data-ytvideo="1-gnOyThHg4" data-videoid="aboutVideo2" data-videoautoplay="true">
      <div class="video-container">
        <video class="video-bg" loop="loop" preload="none" poster="/upload/banner/videos/3-free.png" muted="muted">
          <source src="/upload/banner/videos/3_free.mp4" type="video/mp4"/>
        </video>
        <div class="mobile-bg" style="background-image: url(/upload/banner/videos/3-free.png);"></div>
        <div class="shadow-bg"></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/top-video-banner/-->