// start /components/video.plyr/

link( rel="stylesheet", href="/components/video.plyr/style.css" )
script( src="/components/video.plyr/script.js" )

.b-plyr
  #player.b-video-plyr( data-videoid="1-gnOyThHg4" data-width="100%" data-height="600" )
  .b-plyr-shutter

// end /components/video.plyr/