// start /components/video.plyr/

link( rel="stylesheet", href="/components/video.plyr/style.css" )
script( src="/components/video.plyr/script.js" )

link( rel="stylesheet", href="/template/libs/plyr.min.css" )
script( src="/template/libs/plyr.min.js" )
  
.b-plyr-yt
  .preloader
  #playerYt.plyr__video-embed
    iframe( src="https://www.youtube.com/embed/1-gnOyThHg4?controls=0&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;mute=1" frameborder="0" allowfullscreen allowtransparency allow="autoplay" )

// end /components/video.plyr/