
<!-- start /components/placeholder.4-cols/-->
<link rel="stylesheet" href="/components/placeholder.4-cols/placeholder.css"/>
<link rel="stylesheet" href="/components/placeholder.4-cols/style.css"/>
<script src="/components/placeholder.4-cols/script.js"></script>
<div class="b-ph-block" id="someBlock">
  <div class="b-ph">
    <div class="b-ph-row">
      <div class="b-ph-col-sm-3">
        <div class="b-ph-img"></div>
      </div>
      <div class="b-ph-col-sm-3">
        <div class="b-ph-img"></div>
      </div>
      <div class="b-ph-col-sm-3">
        <div class="b-ph-img"></div>
      </div>
      <div class="b-ph-col-sm-3">
        <div class="b-ph-img"></div>
      </div>
    </div>
  </div>
  <div class="b-ph-content">
    <div class="b-some-block">
      <div class="row">
        <div class="col m3"><img src="/upload/mobile-slide-menu/1.jpg" alt=""/></div>
        <div class="col m3"><img src="/upload/mobile-slide-menu/1.jpg" alt=""/></div>
        <div class="col m3"><img src="/upload/mobile-slide-menu/1.jpg" alt=""/></div>
        <div class="col m3"><img src="/upload/mobile-slide-menu/1.jpg" alt=""/></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/placeholder.4-cols/-->