// start /components/sidenav/

link( rel="stylesheet", href="/components/sidenav/style.css" )
script( src="/components/sidenav/script.js" )
  
script( src="/components/sidenav/materialize/materialize-1.0.0.js" )
link( href="/components/sidenav/materialize/materialize-1.0.0.css" rel="stylesheet" )

button#sideNavButton-1-0-0.btn.btn-default.sidenav-trigger( data-target="sideNav-1-0-0" ) Открыть

#sideNav-1-0-0.sidenav Боковая панель
  button.btn.btn-default.sidenav-close Закрыть
  
p Ширина в %, указывается в стилях.

button#sideNavButton2-1-0-0.btn.btn-default.sidenav-trigger( data-target="sideNav2-1-0-0" ) Открыть

#sideNav2-1-0-0.sidenav Боковая панель
  button.btn.btn-default.sidenav-close Закрыть

// end /components/sidenav/