// start /components/sidenav/

link( rel="stylesheet", href="/components/sidenav/style.css" )
script( src="/components/sidenav/script.js" )
  
script( src="/components/sidenav/materialize/materialize-0.100.2.js" )
link( href="/components/sidenav/materialize/materialize-0.100.2.css" rel="stylesheet" )

p Работает с шириной в %.

button#sideNavButton-0-100-2.btn.btn-default( data-activates="sideNav-0-100-2" ) Открыть

#sideNav-0-100-2.side-nav Боковая панель
  button.btn.btn-default Закрыть

// end /components/sidenav/