// start /components/files/

link( rel="stylesheet", href="/components/files/style.css" )
script( src="/components/files/script.js" )

.b-files
  
  h3 Раздел
  .row
    .col.l4.s12
      //Режим редактирования
      #bx_incl_area_1
        include file-card
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      //Режим редактирования
      #bx_incl_area_2
        include file-card
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      //Режим редактирования
      #bx_incl_area_3
        include file-card-2
      
  hr.show-on-large.hide-on-med-and-down
  hr.i-size-S.hide-on-large-only
  
  .row
    .col.l4.s12
      include file-card-3
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      include file-card-2
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      include file-card
      
  hr.i-size-L
  
  h3 Раздел
  .row
    .col.l4.s12
      include file-card
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      include file-card
      
    hr.i-size-S.hide-on-large-only.clearfix
      
    .col.l4.s12
      include file-card-2

// end /components/files/