// start /components/video.youtube/

link( rel="stylesheet", href="/components/video.youtube/style.css" )
script( src="/components/video.youtube/script.js" )

.b-yt
  #player.b-video-yt( data-videoid="1-gnOyThHg4" data-width="100%" data-height="600" )
  .b-yt-shutter

// end /components/video.youtube/