
<!-- start /components/mobile-slide-menu/-->
<link rel="stylesheet" href="/components/mobile-slide-menu/style.css"/>
<script src="/components/mobile-slide-menu/script.js"></script>
<div class="b-mobile-slide-menu">
  <div class="b-mobile-slide-menu__slide-container">
    <div class="b-msm-slide" data-num="1" style="background-image: url( '/upload/mobile-slide-menu/1.jpg' );"></div>
    <div class="b-msm-slide" data-num="2" style="background-image: url( '/upload/mobile-slide-menu/2.jpg' );"></div>
    <div class="b-msm-slide" data-num="3" style="background-image: url( '/upload/mobile-slide-menu/3.jpg' );"></div>
    <div class="b-msm-slide" data-num="4" style="background-image: url( '/upload/mobile-slide-menu/4.jpg' );"></div>
    <div class="b-msm-slide" data-num="5" style="background-image: url( '/upload/mobile-slide-menu/5.jpg' );"></div>
    <div class="b-msm-slide" data-num="6" style="background-image: url( '/upload/mobile-slide-menu/6.jpg' );"></div>
    <div class="b-msm-slide" data-num="7" style="background-image: url( '/upload/mobile-slide-menu/7.jpg' );"></div>
    <div class="b-msm-slide" data-num="8" style="background-image: url( '/upload/mobile-slide-menu/8.jpg' );"></div>
    <div class="b-msm-slide" data-num="9" style="background-image: url( '/upload/mobile-slide-menu/9.jpg' );"></div>
  </div>
  <div class="b-mobile-slide-menu__menu-container">
    <div class="b-msm-menu-item" data-num="1"><a href="">Лукошко с лесными<br>ягодами</a></div>
    <div class="b-msm-menu-item" data-num="2"><a href="">Photo 2</a></div>
    <div class="b-msm-menu-item" data-num="3"><a href="">Photo 3</a></div>
    <div class="b-msm-menu-item" data-num="4"><a href="">Photo 4</a></div>
    <div class="b-msm-menu-item" data-num="5"><a href="">Photo 5</a></div>
    <div class="b-msm-menu-item" data-num="6"><a href="">Photo 6</a></div>
    <div class="b-msm-menu-item" data-num="7"><a href="">Photo 7</a></div>
    <div class="b-msm-menu-item" data-num="8"><a href="">Photo 8</a></div>
    <div class="b-msm-menu-item" data-num="9"><a href="">Photo 9</a></div>
  </div>
  <div class="b-mobile-slide-menu__gradient"></div>
  <div class="b-mobile-slide-menu__menu-center"></div>
</div>
<!-- end /components/mobile-slide-menu/-->