input.date( type="text" name="name" )
br
input.phone( type="text" name="name" )
br
input.phoneext( type="text" name="name" )
br
input.tin( type="text" name="name" )
br
input.ssn( type="text" name="name" )
br
input.product( type="text" name="name" )
br
input.eyescript( type="text" name="name" )
br