
<!-- start /components/video.plyr/-->
<link rel="stylesheet" href="/components/video.plyr/style.css"/>
<script src="/components/video.plyr/script.js"></script>
<link rel="stylesheet" href="/template/libs/plyr.min.css"/>
<script src="/template/libs/plyr.min.js"></script>
<div class="b-plyr-yt">
  <div class="preloader"></div>
  <div class="plyr__video-embed" id="playerYt">
    <iframe src="https://www.youtube.com/embed/1-gnOyThHg4?origin=127.0.0.1&amp;amp;controls=0&amp;amp;modestbranding=1&amp;amp;playsinline=1&amp;amp;showinfo=0&amp;amp;rel=0&amp;amp;enablejsapi=1&amp;amp;mute=1" frameborder="0" allowfullscreen="allowfullscreen" allowtransparency="allowtransparency" allow="autoplay"></iframe>
  </div>
</div>
<!-- end /components/video.plyr/-->