// start /components/preloader/

link( rel="stylesheet", href="/components/preloader/style.css" )
script( src="/components/preloader/script.js" )

button.waves-effect.waves-light.btn.b-color-preloader-button Color Preloader
button.waves-effect.waves-light.btn.b-white-preloader-button White Preloader
button.waves-effect.waves-light.btn.b-black-preloader-button Black Preloader

#container

#circlePreloader
  .preloader-wrapper.active
    .spinner-layer
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
        
// end /components/preloader/