// start /components/placeholder.img-text/

link( rel="stylesheet", href="/components/placeholder.img-text/placeholder.css" )

link( rel="stylesheet", href="/components/placeholder.img-text/style.css" )
script( src="/components/placeholder.img-text/script.js" )

#someBlock.b-ph-block

  .b-ph
    .b-ph-img
    .b-ph-text
      div
      div
      div
      div
      div
      
  .b-ph-content
    .b-some-block
      img( src="/upload/mobile-slide-menu/1.jpg" alt="" )
      p Some text.

// end /components/placeholder.img-text/