// start /components/timetable/

link( rel="stylesheet", href="/components/timetable/style.css" )
script( src="/components/timetable/script.js" )

.b-timetable-block
  .b-timetable-elem-1 Телефон в рабочее время 8 800 789 4556
  .b-timetable-elem-2 Телефон выходного дня и ночного времени в будни +7 963 852 7412

// end /components/timetable/