extends ../../layouts/main

block title
  title Timetable test | Tricks

block content
  h1 Timetable test

  script( src="/components/timetable/script.js" )
  script( src="/components/timetable/test.js" )