extends ../layouts/main

block title
  title Yandex Maps | Tricks

block content
  h1 Yandex Maps
  
  ul
    li
      a( href="./placemark-switch/" ) Переключатель объектов
    li
      a( href="./map-list-switch/" ) Переключатель карта/список