
<!-- start /components/mobile-slide-menu-horizontal/-->
<link rel="stylesheet" href="/components/mobile-slide-menu-horizontal/style.css"/>
<script src="/components/mobile-slide-menu-horizontal/script.js"></script>
<div class="b-mobile-slide-menu-horizontal">
  <section class="bj-page-header__submenu">
    <div class="container-fluid">
      <script src="/template/libs/swiper.min.js"></script>
      <link rel="stylesheet" href="/template/libs/swiper.min.css"/>
      <div class="swiper-container"> 
        <div class="swiper-wrapper"> <a class="swiper-slide" href="">Верхняя одежда</a><a class="swiper-slide" href="">Пальто</a><a class="swiper-slide" href="">Костюмы</a><a class="swiper-slide" href="">Пиджаки, жилеты</a><a class="swiper-slide" href="">Куртки</a><a class="swiper-slide" href="">Брюки</a><a class="swiper-slide" href="">Сорочки, рубашки, манишки</a></div>
        <div class="swiper-shadow"></div>
      </div>
      <div class="bj-page-header__submenu__line"></div>
    </div>
  </section>
</div>
<!-- end /components/mobile-slide-menu-horizontal/-->