extends ../layouts/main

block title
  title Video | Tricks

block content
  h1 Video
  
  ul
    li
      a( href="./youtube/" ) Video youtube banner (Alla Couture)
    li
      a( href="./plyr/" ) Plyr plugin