
<!-- start /components/sidenav/-->
<link rel="stylesheet" href="/components/sidenav/style.css"/>
<script src="/components/sidenav/script.js"></script>
<script src="/components/sidenav/materialize/materialize-0.97.5.js"></script>
<link href="/components/sidenav/materialize/materialize-0.97.5.css" rel="stylesheet"/>
<button class="btn btn-default" id="sideNavButton-0-97-5" data-activates="sideNav-0-97-5">Открыть</button>
<div class="side-nav" id="sideNav-0-97-5">Боковая панель
  <button class="btn btn-default">Закрыть</button>
</div>
<p>Если ширина menuWidth указана в % - кнопка закрытия работать не будет.</p>
<button class="btn btn-default" id="sideNavButton2-0-97-5" data-activates="sideNav2-0-97-5">Открыть (ширина в %)</button>
<div class="side-nav" id="sideNav2-0-97-5">Боковая панель 2
  <button class="btn btn-default">Закрыть (не работает)</button>
</div>
<!-- end /components/sidenav/-->