
<!-- start /components/sidenav/-->
<link rel="stylesheet" href="/components/sidenav/style.css"/>
<script src="/components/sidenav/script.js"></script>
<script src="/components/sidenav/materialize/materialize-1.0.0.js"></script>
<link href="/components/sidenav/materialize/materialize-1.0.0.css" rel="stylesheet"/>
<button class="btn btn-default sidenav-trigger" id="sideNavButton-1-0-0" data-target="sideNav-1-0-0">Открыть</button>
<div class="sidenav" id="sideNav-1-0-0">Боковая панель
  <button class="btn btn-default sidenav-close">Закрыть</button>
</div>
<p>Ширина в %, указывается в стилях.</p>
<button class="btn btn-default sidenav-trigger" id="sideNavButton2-1-0-0" data-target="sideNav2-1-0-0">Открыть</button>
<div class="sidenav" id="sideNav2-1-0-0">Боковая панель
  <button class="btn btn-default sidenav-close">Закрыть</button>
</div>
<!-- end /components/sidenav/-->