
<!-- start /components/sidenav/-->
<link rel="stylesheet" href="/components/sidenav/style.css"/>
<script src="/components/sidenav/script.js"></script>
<script src="/components/sidenav/materialize/materialize-0.100.2.js"></script>
<link href="/components/sidenav/materialize/materialize-0.100.2.css" rel="stylesheet"/>
<p>Работает с шириной в %.</p>
<button class="btn btn-default" id="sideNavButton-0-100-2" data-activates="sideNav-0-100-2">Открыть</button>
<div class="side-nav" id="sideNav-0-100-2">Боковая панель
  <button class="btn btn-default">Закрыть</button>
</div>
<!-- end /components/sidenav/-->