extends ./layouts/main

block title
  title Main page | Tricks

block content
  h1 Development tricks
  
  ul
    li
      a( href="/ymaps/" ) Yandex Maps
        ul
          li
            a( href="/ymaps/placemark-switch/" ) Переключатель объектов