extends ./layouts/main

block title
  title Main page | Tricks

block content
  h1 Development tricks
  
  ul
    li
      a( href="/blocks/" ) Блоки
        ul
          li
            a( href="/blocks/files/" ) Список файлов
          li
            a( href="/blocks/mobile-slide-menu/" ) Мобильное slide меню (KMP)
          li
            a( href="/blocks/mobile-slide-menu-horizontal/" ) Мобильное slide меню горизонтальное (Absolutex)
          li
            a( href="/blocks/top-video-banner/" ) Top video banner (Antech)
    li
      a( href="/video/" ) Video
        ul
          li
            a( href="/video/youtube/" ) Video youtube banner (Alla Couture)
          li
            a( href="/video/plyr/" ) Plyr plugin
    li
      a( href="/ymaps/" ) Yandex Maps
        ul
          li
            a( href="/ymaps/placemark-switch/" ) Переключатель объектов
          li
            a( href="/ymaps/map-list-switch/" ) Переключатель карта/список
    li
      a( href="/forms/" ) Forms
        ul
          li
            a( href="/forms/ajax-form/" ) Форма с отправкой ajax-запроса
          li
            a( href="/forms/float-label/" ) Плавающие label
          li
            a( href="/forms/masked-input/" ) Input с маской телефона
          li
            a( href="/forms/validate-form/" ) Валидация формы
    li
      a( href="/sidenav/" ) SideNav
        ul
          li
            a( href="/sidenav/materialize-0-97-5/" ) Materialize 0.97.5
          li
            a( href="/sidenav/materialize-0-100-2/" ) Materialize 0.100.2
          li
            a( href="/sidenav/materialize-1-0-0/" ) Materialize 1.0.0
    li
      a( href="/preloader/" ) Preloader
        ul
          li
            a( href="/preloader/circle/" ) Circle
    li
      a( href="/es6/" ) ES6
        ul
          li
            a( href="/es6/test/" ) Test
    li
      a( href="/placeholder/" ) Placeholder
        ul
          li
            a( href="/placeholder/img-text/" ) Картинка и текст
          li
            a( href="/placeholder/4-cols/" ) 4 колонки
    li
      a( href="/time/" ) Time
        ul
          li
            a( href="/time/timetable/" ) Timetable phone
                        