extends ./layouts/main

block title
  title Main page | Tricks

block content
  h1 Development tricks
  
  ul
    li
      a( href="/ymaps/" ) Yandex Maps
        ul
          li
            a( href="/ymaps/placemark-switch/" ) Переключатель объектов
          li
            a( href="/ymaps/map-list-switch/" ) Переключатель карта/список
    li
      a( href="/forms/" ) Forms
        ul
          li
            a( href="/forms/ajax-form/" ) Форма с отправкой ajax-запроса