// start /components/placeholder.4-cols/

link( rel="stylesheet", href="/components/placeholder.4-cols/placeholder.css" )

link( rel="stylesheet", href="/components/placeholder.4-cols/style.css" )
script( src="/components/placeholder.4-cols/script.js" )

#someBlock.b-ph-block

  .b-ph
    
    .b-ph-row
      .b-ph-col-sm-3
        .b-ph-img
      .b-ph-col-sm-3
        .b-ph-img
      .b-ph-col-sm-3
        .b-ph-img
      .b-ph-col-sm-3
        .b-ph-img
      
  .b-ph-content
    .b-some-block
      .row
        .col.m3
          img( src="/upload/mobile-slide-menu/1.jpg" alt="" )
        .col.m3
          img( src="/upload/mobile-slide-menu/1.jpg" alt="" )
        .col.m3
          img( src="/upload/mobile-slide-menu/1.jpg" alt="" )
        .col.m3
          img( src="/upload/mobile-slide-menu/1.jpg" alt="" )

// end /components/placeholder.4-cols/